/**
* Styles for the buttons
*/

.dvBtns {
    float: left;
    clear: both;
}

.dvBtns img {
    float: left;
    margin: 5px;
    width: 32px;
    height: 32px;
    transition: 0.1s;
}

.dvBtns img:hover {
    border: 2px solid #2279;
    border-radius: 5px;
    padding: 2px;

}